body{
    background-color: red;
    padding-top: 100px;
}
form{
    background-color:blue;
    padding: 25px;
    width: 35px;
    border: 1.5px solid black ;
    border-radius: 15px;
}
label{
    float:left;
}
#inp{
    float:right;
}


